/* 
#14: <nav id="navbar"> [display:left]

#15: @media * 1. 
*/

*,
*::before,
*::after
{
    box-sizing: border-box;
}

:root
{
    font-size: 1vmin;
    scroll-behavior: smooth;
}

body
{    
    margin: 0;
    padding: 0;
    background-color: hsla(0, 0%, 98%, 1);
    overflow-x: hidden;
}

/* @todo navigation */

.navigation-bar
{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    width: 20vw;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 2.4rem;
}

.navigation-header
{

}

.links-collection
{

}

.nav-link
{

}

/* @todo main document */

.main-document
{
    width: 70vw;
    height: auto;
    transform: translate(25vw, 5vh);
}

.main-section
{
    width: 100%;
    margin-bottom: 5rem;
}

.main-section:first-of-type
{
    scroll-margin-block-start: 5vh;
}

.main-header
{
    font-size: 7.2rem;
    letter-spacing: .4rem;
    word-spacing: .6rem;
    margin-bottom: 3.6rem;
    color: hsla(0, 0%, 24%, 1);
    font-weight: 700;
}

h2
{
    font-size: 4.8rem;
    letter-spacing: .4rem;
    word-spacing: .6rem;
    margin-bottom: 3.6rem;
    color: hsla(0, 0%, 27%, 1);
    font-weight: 500;
}

p,
ul,
ol
{
    font-size: 2.4rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.1rem;
    line-height: 3.36rem;
    margin-bottom: 1.2rem;
    color: hsla(0, 0%, 30%, 1);
    font-weight: 300;
}

code
{
    font-size: 1.6rem;
    line-height: 3.36rem;
    color: hsla(0, 0%, 20%, 1);
    font-weight: lighter;
    background-color: hsla(0, 0%, 90%, 1);
    padding: 1rem;
    border-left: 1rem solid hsla(207, 50%, 70%, 1);
    display: block;
    margin: 0;
    padding: 0;
}

.unique
{
    border: none;
    display: inline;
}

.wrong_code
{
    background-color: hsla(0, 50%, 90%, 1);
    border-left: 1rem solid hsla(0, 50%, 70%, 1);
}


img
{
    width: 100%;
    height: auto;
}

.table
{
    width: 100%;
    font-size: 2.4rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.1rem;
    margin-bottom: 1.2rem;
    color: black;
    font-weight: 500;
    margin: 0;
    padding: 0;
    background-color: hsla(0, 0%, 90%, 1);
}

.table-row
{
    width: 100%;
    height: auto;
    border-left: .1rem solid black;
    border-bottom: .1rem solid black;
    border-right: .1rem solid black;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.table-row:first-of-type
{
    border-top: .1rem solid black;
}

.table-cell
{
    margin: 0;
    padding: 0;
    width: 50%;
    padding: 1rem;
}

.left
{
    border-right: .1rem solid black;
}

comment
{
    color: gray;
}

@media screen and (max-width: 768px) {
    body
    {
        background-color: #333;
    }
}