/* 
#14: <nav id="navbar"> [display:left]

#15: @media * 1. 
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-size: 1vmin;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: hsla(0, 0%, 96%, 1);
  overflow-x: hidden;
}

/* @todo navigation */

.navigation-bar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  width: 20vw;
  overflow-y: scroll;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  gap: 0;
  background-color: hsla(0, 0%, 90%, 0.8);
}

.navigation-header {
  font-size: 3.2rem;
  transform: translatey(2.5vh);
  color: hsla(0, 0%, 28%, 1);
}

.links-collection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  transform: translatey(5vh);
}

.nav-link {
  outline: none;
  word-wrap: break-word;
  font-size: 2.8rem;
  background-color: hsla(0, 0%, 50%, 0.8);
  border: 0.5rem outset hsla(0, 0%, 20%, 0.7);
  color: hsla(0, 0%, 10%, 0.9);
  text-decoration: none;
  width: 98%;
  margin: 0.5rem 0.5rem;
  padding: 2rem 0.5rem;
}

.nav-link:focus,
.nav-link:hover,
.nav-link:active {
  background-color: hsla(0, 0%, 50%, 1);
  border: 0.5rem outset hsla(0, 0%, 20%, 1);
  color: hsla(0, 0%, 10%, 1);
}

/* @todo main document */

.main-document {
  width: 70vw;
  height: auto;
  transform: translate(25vw, 5vh);
}

.main-section {
  width: 100%;
  margin-bottom: 5rem;
}

.main-section:first-of-type {
  scroll-margin-block-start: 5vh;
}

.main-header {
  font-size: 7.2rem;
  letter-spacing: 0.4rem;
  word-spacing: 0.6rem;
  margin-bottom: 3.6rem;
  color: hsla(0, 0%, 24%, 1);
  font-weight: 700;
}

h2 {
  font-size: 4.8rem;
  letter-spacing: 0.4rem;
  word-spacing: 0.6rem;
  margin-bottom: 3.6rem;
  color: hsla(0, 0%, 27%, 1);
  font-weight: 500;
}

p,
ul,
ol {
  font-size: 2.4rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  letter-spacing: 0.1rem;
  line-height: 3.36rem;
  margin-bottom: 1.2rem;
  color: hsla(0, 0%, 30%, 1);
  font-weight: 300;
}

code {
  font-size: 1.6rem;
  line-height: 3.36rem;
  color: hsla(0, 0%, 20%, 1);
  font-weight: lighter;
  background-color: hsla(0, 0%, 90%, 1);
  padding: 1rem;
  border-left: 1rem solid hsla(207, 50%, 70%, 1);
  display: block;
  margin: 0;
  padding: 0;
}

.unique {
  border: none;
  display: inline;
}

.wrong_code {
  background-color: hsla(0, 50%, 90%, 1);
  border-left: 1rem solid hsla(0, 50%, 70%, 1);
}

img {
  width: 100%;
  height: auto;
}

.table {
  width: 100%;
  font-size: 2.4rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  letter-spacing: 0.1rem;
  margin-bottom: 1.2rem;
  color: black;
  font-weight: 500;
  margin: 0;
  padding: 0;
  background-color: hsla(0, 0%, 90%, 1);
}

.table-row {
  width: 100%;
  height: auto;
  border-left: 0.1rem solid black;
  border-bottom: 0.1rem solid black;
  border-right: 0.1rem solid black;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.table-row:first-of-type {
  border-top: 0.1rem solid black;
}

.table-cell {
  margin: 0;
  padding: 0;
  width: 50%;
  padding: 1rem;
}

.left {
  border-right: 0.1rem solid black;
}

comment {
  color: gray;
}

@media screen and (max-width: 768px) {
  body {
    background-color: #333;
  }
}
